body{
    margin:0;
    padding: 0;
    font-size: 1.4rem;
    font-weight: 400;
}
html {
  font-size: 62.5%;
}
h1, h2, h3, h4, h5, h6{
    color: #440D0F;
    font-family: "Merriweather", serif;
}
h1{
  font-size: 3.8rem;
  font-weight: 700;
}
p{
    color:#333333;
    font-family: "Ubuntu", sans-serif;
    line-height: 1.5;
}
a{
  color: #440D0F;
  display: block;
  margin: 16px 0;
  padding: 12px 30px;
  font-family: "Ubuntu", sans-serif;
}
a.button {
    color: #f6f4f4;
    text-transform: uppercase;
    background-color: #440D0F;
    border-radius: 4px;
    display: inline-block;
    text-decoration: none;
    font-size: 1.5rem;
    margin: 16px 0;
  }
/*-------- HEADER ---------*/
header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #440D0F;
}
header .logo {
  width: 20%;
  height: 70px;
}
header nav ul {
  list-style-type: none;
  display: none;
  margin: 0;
  padding: 0;
}
header nav ul li a{
  text-decoration: none;
  color:#f6f4f4;
}
.navbar {
  text-align: right;
  margin-right: 5%;
}
.toggle i {
  font-size: 2rem;
  color: #f6f4f4;
}
.show-items {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
/*----------------------------Hero------------------------*/
.hero {
    padding: 5%;
    padding-bottom: 20%;
    background-image: url("images/brooke-lark-08bOYnH_r_E-unsplash.jpg");
    background-position: center;
    background-size: cover;
    background-color: #f6f4f4;
}
.hero .content{
  background-color: #f6f4f4a6;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.509);
  padding: 5%;
  border-radius: 15px;
}
.hero p{
    color:#440D0F;
}
.hero-buttons{
    display: flex;
    justify-content: space-around;
}
.feature{
  text-align: center;
  margin:10%;
}
.feature h3{
  font-weight: normal;
}
.feature-food{
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 5%;
}
.feature-card {
  width: 236px;
  background-color: #440D0F;
  padding-bottom: 2%;
  border-radius: 10px;
  margin: 5% 0;
}
.feature-card img{
  width:100%;
  height:20rem;
  border-top-left-radius:10px;
  border-top-right-radius: 10px ;
}
.feature-card h3{
  color:#f6f4f4;
  margin:2%;
}
.feature-card p{
  color: #f6f4f4;
  margin:2%;
}
.home-about{
  background-color: #f6f4f4;
  padding: 15%;
  text-align: center;
  margin: 20% 0;
}
.home-about h3{
   font-weight: 300;
   text-transform: capitalize;
   line-height: 1.8;
}
.home-about p{
  line-height: 1.8;
}
.home-about .button{
  background-color: #f6f4f4;
  color:#440D0F;
  border: 1px solid #440D0F;
  font-weight: 500;
}
/*----------------TESTIMONIALS-----------------*/
.testimonials {
  text-align: center;
  margin: 60px 40px;
}
.testimonials h2 {
  margin: 40px;
}
.testimonial-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:20%;
}
.testimonial-card {
  background-color: #f6f4f4;
  width: 320px;
  height: 350px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.testimonial-card img {
  height: 50px;
  width: 50px;
}
.testimonial-card p {
  color: #a1aeb7;
  margin: 20px 30px;
}
.testimonial-card strong {
  margin-bottom: 0;
  color:#333333;
}
/*-------- FOOTER ---------*/
footer {
  text-align: center;
  padding: 20px;
  background-color: #f6f4f4;
}
footer img{
  width:40%;
}
.footer-nav a {
  text-decoration: none;
}
footer p{
  color:#a1aeb7;
}
footer i{
  color:#440D0F;
  margin:5%;
  font-size: 1.5rem;
}