body{
    margin:0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6{
    color:#FFB6C1;
    font-family: "Merriweather", serif;
}
p{
    color:#333333;
    font-family: "Ubuntu", sans-serif;
}
a{
  color: #87CEFA;
  display: block;
  margin: 16px 0;
  padding: 2% 7%;
  font-family: "Ubuntu", sans-serif;
}
a.button {
    color: #ffffff;
    text-transform: uppercase;
    background-color: #87CEFA;
    border-radius: 4px;
    display: inline-block;
    text-decoration: none;
    margin: 16px 0;
  }
/*-------- HEADER ---------*/
header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #87CEFA;
}
header .logo {
  width: 20%;
  height: 70px;
  margin:2%;
}
header nav ul {
  list-style-type: none;
  display: none;
  margin: 0;
  padding: 0;
}
header nav ul li a{
  text-decoration: none;
  color:#ffffff
}
.navbar {
  text-align: right;
  margin-right: 5%;
}
.toggle i {
  font-size: 2rem;
  color:#ffffff;
}
.show-items {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
/*----------------------------Hero------------------------*/
.hero {
    background-image: url('images/hero.jpg');
    background-size: cover;
    background-position: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.575); 
    padding: 80px 20px;
}
.hero p{
    color:#ffffff;
}
.hero-buttons{
    display: flex;
    justify-content: space-around;
}