a{
  color: #424b5a;
  display: block;
  margin: 16px 0;
  padding: 12px 48px;
}
/*-------- HEADER ---------*/
header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
header .logo {
  width: 20%;
  height: 80px;
}
header nav ul {
  list-style-type: none;
  display: none;
  margin: 0;
  padding: 0;
}
header nav ul li a{
  text-decoration: none;
}
.navbar {
  text-align: right;
}
.toggle i {
  font-size: 2rem;
}
.show-items {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
